body{
    background-image:url("kronometre.png") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
}

h1{
    text-align: center;
    padding:10px;
    font-size: 5rem;
    color: white;
   
    

}
.butons{
text-align: center;
margin-top: 120px;



}

.spans{
    
    font-size:60px;
    color: white;
   
    margin-top: 5%;
    text-align: center;   
}