.container{
    background-color: rgb(170, 169, 169);
}

h1{
    text-align: center;
    padding:50px;
    font-size: 5rem;
    color: rgb(2, 0, 7);
    border: 1px , white;
    

}
.butons{
text-align: center;



}

.spans{
    font-size:60px;
    color: rgb(2, 0, 7);
   
    margin-top: 5%;
    text-align: center;   
}